@model  PeterSkerrittELearning.Models.ManageCertificateViewModel

<!-- Page length options -->
<div class="panel panel-flat">
    <div>
        <button type="button" class="btn btn-dark pull-right" data-toggle="modal" data-target="#myModalMod">Add <i class="fa fa-plus"></i></button>
    </div>

    <table class="table  table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Modules != null)
            {
                foreach (var item in Model.Modules)
                {

                    <tr>
                        <td onclick="ModRowClick(@item.Id);">@item.Name</td>
                        <td onclick="ModRowClick(@item.Id);">@item.Description</td>
                        <td style="text-align:right">
                            <button onclick="ModuleEditClick(@item.Id);" type="button" class="btn btn-default"><i class="fa fa-pencil"></i></button>
                            <button onclick="ModDelClick(@item.Id);" type="button" class="btn btn-lightdark"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>

<!-- /basic setup -->
<!-- Trigger the modal with a button -->

<style>
    .modal-dialog {
        left: 0% !important;
    }
</style>

<!-- Modal -->
<div id="myModalMod" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tests</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input id="txtModName" type="text" class="form-control" required placeholder="Name" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea id="txtModDesc" type="text" style="height:200px" class="form-control" required placeholder="Description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Question Count</label>
                            <input id="txtModQuestionCount" type="number" class="form-control" required placeholder="Question Count" value="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Duration</label>
                            <input id="txtModDuration" type="number" class="form-control" required placeholder="Duration" value="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Minimum Pass Score</label>
                            <input id="txtModMinPassScore" type="number" class="form-control" required placeholder="Minimum Pass Score" value="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Maximum Score</label>
                            <input id="txtModMaximumScore" type="number" class="form-control" required placeholder="Maximum Score" value="1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button onclick="ModSaveClick();" type="button" class="btn btn-dark" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- /page length options -->

<script>
        var ModNo = 0;

        function ModuleEditClick(Id) {

            ModNo = Id;

        $.ajax({
                type: "POST",
                url: '@Url.Action("GetModule", "Certifications")',
                data: { "Id" : Id},
                success: function (data) {
                    var obj = JSON.parse(data)

                    $('#txtModName').val(obj.Name)
                    $('#txtModDesc').val(obj.Description)
                    $('#txtModQuestionCount').val(obj.QuestionCount)
                    $('#txtModDuration').val(obj.Duration)
                    $('#txtModMinPassScore').val(obj.MinPassScore)
                    $('#txtModMaximumScore').val(obj.MaximumScore)

                    $("#myModalMod").modal('show')
                },
                error: function (err) {
                    console.log(err);
                }
            });
    }

        function ModDelClick(Id) {

            var Delobj = {
                "Id": Id,
                "AssessmentId": @Model.wizardIds.AssessmentId
            };

            
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteModule", "Certifications")',
                    data: Delobj,
                    success: function () {
                        console.log('Delete Success');
                        console.log(Delobj);
                        var DBCall = '&v=' + Math.random();
                        $('#ModulesStep').load("/Certifications/_Module?Id=" + Delobj.AssessmentId + DBCall);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            
        }

          function ModRowClick(Id) {

            var obj = {
                "Id": Id,
                "AssessmentId": @Model.wizardIds.AssessmentId
            };

            var buttons = $('#ModulesStep').closest('fieldset').find('.stepy-navigator');
            console.log(buttons.length);
            if (buttons.length) {

                var next = buttons.children('.button-next');

                if (next.length) {
                    next.click();
                } else if (self.finish) {
                    self.finish.click();
                }
            }

              $.ajax({
                type: "POST",
                url: '@Url.Action("LoadSectionsByModules", "Certifications")',
                data: obj,
                success: function () {
                    console.log('Success Click Cert');
                    var DBCall = '&v=' + Math.random();
                    $('#SectionsStep').load("/Certifications/_Section?Id=" + obj.Id + DBCall);
                },
                error: function (err) {
                    console.log(err);
                }
            });

        }

        function ModSaveClick() {
            try {

                var obj = {
                    "Id": ModNo,
                    "Name": $('#txtModName').val(),
                    "Description": $('#txtModDesc').val(),
                    "AssessmentId": @Model.wizardIds.AssessmentId,
                    "QuestionCount": $('#txtModQuestionCount').val(),
                    "Duration": $('#txtModDuration').val(),
                    "MinPassScore": $('#txtModMinPassScore').val(),
                    "MaximumScore": $('#txtModMaximumScore').val()
                };

                console.log(obj);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveModule", "Certifications")',
                    data: obj,
                    success: function () {

                        var DBCall = '&v=' + Math.random();
                        $('#ModulesStep').load("/Certifications/_Module?Id=" + obj.AssessmentId + DBCall);
                        console.log('Add Assessment Success')

                        ModNo = 0;
                    },
                    error: function (err) {
                        console.log(err);
                        var DBCall = '?v=' + Math.random();
                        $('#ModulesStep').load("/Certifications/_Module?Id=" + obj.AssessmentId + DBCall);
                    }
                });

            } catch (e) {
                console.log(e);
            }

        }
</script>